<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

<div layout:fragment="content1">
    <div class="container">
        <h2 class="text-danger">Vous n'avez pas le droit pour accéder à cette ressource</h2>
    </div>
</div>
</body>
</html>