<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

<div layout:fragment="content1">
    <div class="container mt-5">
        <div class="card-header"><h3>Liste des patients</h3></div>
        <div class="card-body mt-2">
            <form method="get" th:action="@{/user/index}" class="mt-2">
                <label>Key word</label>
                <input type="text" name="keyword" th:value="${keyword}">
                <button type="submit" class="btn btn-info">Chercher</button>
            </form>
            <table class="table mt-4">
                <thead>
                <tr style="color: indigo">
                    <th>ID</th><th>Nom</th><th>Date</th><th>Malade</th><th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${patientList}">
                    <td style="color: blue" th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.getDateNaissance()}"></td>
                    <td th:text="${p.malade}"></td>
                    <td th:text="${p.score}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-danger" th:href="@{/admin/delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                            Delete
                        </a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-success" th:href="@{/admin/editPatients(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"
                       th:href="@{/user/index(page=${status.index})}"></a>
                </li>
            </ul>
        </div>
</div>
</div>
</body>
</html>